<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<title>Media Player - {{ title }}</title>
</head>
<body>

<form action="addSong" method="post">    
  Enter Youtube-URL: <input type="text" name="url">    
  <input type="submit" id="submitButton" value="Druff">
</form>

	{% for song in playlist %}
		<h3> {{ song.title }}</h3>
    
        <!--<audio controls autoplay>-->
        <audio controls>
                <source src="{{ song.stream }}" type="audio/mp3">
                Your browser does not support this audio format.
        </audio>        
    {% endfor %}

</body>
</html>